<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tarea_Carrera.Properties.Settings.MendozaSaulP3ConnectionString"
            connectionString="Data Source=JOHNDAY;Initial Catalog=MendozaSaulP3;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>